<header>
<img src="https://kinopio-email.s3.us-east-1.amazonaws.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a biweekly correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking
      tool for new ideas and hard problems
    </span>
  </p>
</p>
</header>

<main>

    <!-- 🛶 intro personal message: song listening to, movies, weather, view from my window, animal sightings -->

    <p>In the last Bulletin, I asked for your thoughts on how to grow the audience for Kinopio. I was surprised how many responses and helpful ideas I received, which I captured in the <a href="https://kinopio.club/ideas-for-growing-kinopio-WjASP_gR0dWatK1Avy_rJ">Ideas for Growing Kinopio</a> space.</p>

    <p>While I work towards all this, here’s a life anecdote in the meantime. I’ve been using the same keyboard for 11 years now, a <a href="https://materialjournal.com/blog/hhkb-hybrid-review">HHKB Professional 2</a>. I’m really drawn to the ideal of using and growing with tools through your life. Using something for so long, it’s inevitably going to feel like an extension of your body.</p>

    <p>That said, a year or so ago I bought a ‘new’ keyboard. Well actually, it’s a <a href="https://shop.norbauer.com/products/the-heavy-grail-hhkb-housing?variant=32985987088438">new housing</a> that I’ll transplant the guts of my current keyboard into. I ordered mine in <span class="badge secondary">Sunset Blvd</span>:</p>

    <p>
    <img src="https://cdn.shopify.com/s/files/1/1571/5135/products/SunsetBlvdTopDown_1024x1024.jpg?v=1622318595" alt="heavy grail" />
    </p>


    <p>It’s supposed to ship near the end of summer, so fingers crossed.</p>

    <p>
      <span class="badge info">What's New</span>
    </p>
    <!-- 🛶 -->

    <p>I’ve been slowly working my way towards a new launch. I’ve been refining the messaging around what Kinopio is, and simplifying the UI for new users.</p>

    <p>This includes the new <span class="badge secondary">+</span> button that provides an upfront way to add new spaces, and integrating <span class="badge secondary">filters</span> into <span class="badge secondary">find</span>.</p>

    <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/FHB2o1FR8b3IBc0N5yzto/original-1b71282c7b1cc0d335841237e1ce4db8.gif" alt="" />
    </p>

    <p>For more advanced users, you can now hold down <span class="badge secondary">shift</span> while painting to select and unselect cards.</p>

    <p>But most importantly, we now have a <a href="https://discord.gg/h2sR45Nby8">Community Discord</a>. Come chat with us, share your favorite spaces, and ask questions.</p>


    <p>
      <span class="badge info">Upcoming</span>
    </p>
    <!-- 🛶 -->

    <p>I’ve updated the <a href="https://kinopio.club/-kinopio-roadmap-6TRE21gchHI7alHLuwzd5">roadmap</a>, based on <a href="https://kinopio.club/ideas-for-growing-kinopio-WjASP_gR0dWatK1Avy_rJ">Ideas for Growing Kinopio</a>. (also with cool new graphics and music)</p>

    <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/ydxhPHmIkQlhq9_CvMyhJ/Screen-Shot-2021-07-05-at-8.50.34-AM.png" alt="" />
    </p>

    <p>Next on the list is building an <a href="https://club.kinopio.club/t/about-marketing-page/357/7">about/marketing page</a> for people that prefer to read about what Kinopio is, etc. before diving in.</p>

    <p>From my too-long career making marketing websites, my strategy is always to start with words. If you can make something clear and compelling with just text, then you’ve got something worth building.</p>


    <span class="badge info">New Explore Spaces</span>
  </p>
  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <!-- TODO show updated favorite spaces, limit 20 -->

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
