<header>
<img src="https://kinopio-email.s3.us-east-1.amazonaws.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a biweekly correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, your visual thinking
      tool for new ideas and hard problems
    </span>
  </p>
</p>
</header>

<main>
  <p>In theory, every marketing website has the same job, &quot;hey this thing can help you, you should use it&quot;. </p>

  <p>But writing, designing, and building the new <a href="https://help.kinopio.club/about">About Kinopio page</a> really took it out of me. </p>

  <p>
  <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/34IMeFzF48Y9pYyqb9YzD/about-intro.png" alt="" />
  </p>

  <p>I started with writing. If I can make something compelling in a .txt file, that's a good place to build from. Strangely, I think clearly describing what a product does is probably hardest for the person who made it. But all the <a href="https://kinopio.club/ideas-for-growing-kinopio-WjASP_gR0dWatK1Avy_rJ">feedback</a> I've gotten from you has been super helpful in figuring out what themes to focus on.</p>

  <p>Aesthetically, I wanted the page to feel approachable, but also memorable and characterful. Just like with Kinopio itself, I wanted the way you interact with this page to have a little extra somethin' somethin'. </p>

  <p>So, the page paints itself. Kind of like I'm sitting on your shoulder and I'm saying &quot;hey check this out, and also this part is really cool&quot;.</p>

  <p>
  <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/nzWO9f9n07XHgVEb8b1B-/auto-paint-example.gif" alt="" />
  </p>

  <p>
    <span class="badge info">Boring Programmer Talk</span>
  <p>

  <p>To build auto-painting, I wrote some code that <a href="https://github.com/kinopio-club/kinopio-help/blob/master/assets/js/magic-paint.js">recorded</a> my paint strokes, and then transforms the position and timing of those <a href="https://github.com/kinopio-club/kinopio-help/blob/master/assets/js/recorded-strokes.js">recorded strokes</a> to <a href="https://github.com/kinopio-club/kinopio-help/blob/master/assets/js/auto-paint.js">auto-paint</a> them next to specific elements on the page.</p>

  <p>Honestly, this was kind of a nightmare. I should've chosen an easier profession, like navy seal.</p>

  <p>
  <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/9DNJnz13mv9CWvFg1tQFi/seal-1.jpg" alt="" />
  </p>

  <p>
  <span class="badge info">Upcoming</span>
  </p>

  <p>With all that out of the way, I'm catching up on support issues next, and continuing on the path towards a splashy new ProductHunt launch. Hopefully we'll be talking about that next time. </p>

  <p>
  <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/A5B2QsckKWhkCt1jRf_yp/Untitled.gif" alt="" />
  </p>


    <span class="badge info">New Explore Spaces</span>
  </p>
  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}


  <!-- 🛶 -->
  <p>
    Sentimentally yours,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
