<header>
<img src="https://kinopio-email.s3.us-east-1.amazonaws.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a biweekly correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking
      tool for new ideas and hard problems
    </span>
  </p>
</p>
</header>

<main>

    <!-- 🛶 intro personal message: song listening to, movies, weather, view from my window, animal sightings -->

    <p>Kinopio is on <a href="https://www.producthunt.com/posts/kinopio-2-0">Product Hunt today</a>,</p>

    <p>This is my second time launching on Product Hunt. The first time was honestly pretty stressful. But the exposure, support – and eventually new customers – was a much needed help.</p>

    <p>Spreading the word is the hardest part of making Kinopio sustainable, so if you’d like to help out, <a href="https://www.producthunt.com/posts/kinopio-2-0">come through</a>. It's really appreciated!</p>

    <p>
      <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/PFUTEPJQGiAfY0Sp1CU4U/original-0ee24c4ce25cf520a1c6b3120906891c.jpg" alt="bird with flowers" />
    </p>

    <p>
      <span class="badge info">What's New</span>
    </p>

    <!-- 🛶 -->

    <p>I’ve been focused on stability and bug fixes, but also somehow released more than a few cool new things recently.</p>

    <p>(・_・)⊃══✫⌒･ﾟ✲ </p>

    <ul>
      <li>Toggle to <a href="https://twitter.com/KinopioClub/status/1427334647273381888">show journal spaces only</a> in your spaces list.</li>

      <li>An <a href="https://twitter.com/KinopioClub/status/1427030314002616321">updated welcome space</a> for newcomers, showing off newer features like card markdown, comments, and backlinks.</li>

      <li>Set whether new connections <a href="https://twitter.com/KinopioClub/status/1424821151008804869">use last connection type</a> by clicking a connection.</li>

      <li><a href="https://twitter.com/KinopioClub/status/1424007422012624896">Card collaboration info</a> is viewable inside cards.</li>

      <li>An attention grabbing <a href="https://twitter.com/KinopioClub/status/1423282650618503168">‘Hey Over Here’</a> animation plays when opening cards from search results and notifications to help your eyes find them.</li>

      <li>Added <a href="https://twitter.com/KinopioClub/status/1422635946617581570">description and website</a> fields so you can help visitors to your spaces learn more about you.</li>

      <li>Wrote a <a href="https://pketh.org/kinopio-marketing-page.html">blog post</a> about making the <a href="http://help.kinopio.club/about">About Kinopio</a> marketing page, expanding on the thoughts I shared in the last bulletin.</li>

      <li>Check out <a href="https://twitter.com/KinopioClub/status/1420012300283559941">live public spaces</a> currently being edited – if the space is Open 🌐 you can even join in.</li>
    </ul>

    <p>
      <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/Irom9g8eEXeaUmUApogab/live-spaces-static.png" class="small-image" alt="live spaces in footer" />
    </p>

    <p>
      <span class="badge info">Upcoming</span>
    </p>
    <!-- 🛶 -->

    <p>The next big feature will be either Image Card Resizing, or adding Directions to Connections. Which do you want first?</p>


    <span class="badge info">New Explore Spaces</span>
  </p>
  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <!-- TODO show updated favorite spaces, limit 20 -->

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
