<header>
<img src="https://kinopio-email.us-east-1.linodeobjects.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking
      tool for new ideas and hard problems
    </span>
    <!-- span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, helping you
      express yourself and turn ideas into understanding
    </span>
    -->
  </p>
</p>
</header>

<main>

  <p>I’ve been thinking for a while about how to grow awareness for Kinopio, and I keep coming back to the same problem. People start using Kinopio primarily because they enjoy the design and the interactions, and secondly because of the problems it solves for them – but to draw new people in, this also needs to happen the other way around. Something like,</p>

  <blockquote>
  <p>“Kinopio solves problem X that you have, by doing Y”</p>
  </blockquote>

  <p>Leading with the reason to use something makes it easier for people to invite themselves in. One of my favorite examples of this is “<a href="https://readwise.com">Readwise</a> helps you remember what you read, by periodically surfacing your highlights”.</p>

  <p>I like how tight and focused this is. But I struggle here because people use Kinopio to take notes, plan, mood-board, journal, and even make webpages in. Does choosing to highlight one of these as <em>the</em> primary use turn the others into second class citizens?</p>
  <p>
  <img class="wide" src="https://kinopio-blog.us-east-1.linodeobjects.com/28-3.png" alt="" />
  </p>

  <p>Another way to go is aligning with an established productivity category, like white-boarding or mind-mapping. People already know if they need these and what problems they solve. But again, there’s not one category that completely fits.</p>

  <p>But also I’m not really interested in productivity as the end-goal. I didn’t create Kinopio to be a better whiteboard, or a better Miro/Mural/etc. This all started because I noticed that I felt mentally and creatively free when I wrote and moved my thoughts around using the text tool in design software. I thought that other people might enjoy this too, in a streamlined and more approachable form.</p>

  <p>It’s not a grand vision, there’s no market disruption, there’s not even any AI, I must be a loser.</p>

  <p>So back to the original question, what’s the problem to be solved? If Readwise helps you remember, then I think Kinopio helps you express yourself and make sense of your ideas.</p>

  <p>Express yourself how? Here’s what I’ve seen,</p>

  <ul>
  <li>Some people share their spaces with their teams or classes, to present an idea more engagingly or to jam towards new insight together.</li>
  <li>Others share their spaces with the world, in the form of personal websites, portfolios, and even storefronts.</li>
  <li>But most people share their spaces with themselves. Self-expression is a thing we do for ourselves most of all.</li>
  </ul>

  <p>So after all that, here’s what I’ve got:</p>

  <blockquote>
  <p>“Kinopio helps you express yourself and turn ideas into understanding”</p>
  </blockquote>

  <hr/>

  <p>
    <span class="badge info">What's New</span>
  </p>

  <p>
    <img class="small" src="https://kinopio-updates.us-east-1.linodeobjects.com/transparent-connections-to-comments.png" alt="" />
  </p>
  <ul>
    <li><a href="https://blog.kinopio.club/posts/connections-to-comments//">Connections to Comments</a>, To make it easier for your eye to follow connected ideas in busy spaces, connection lines appear transparent when connected to a comment card.</li>
    <li><a href="https://blog.kinopio.club/posts/search-backgrounds/">Search backgrounds</a>, to find the perfect background for your space</li>
    <li><a href="https://blog.kinopio.club/posts/refer-a-friend/">Refer a friend</a>, and earn a month of free credits for everyone you refer who signs up</li>
    <li>Also, we've started holding office hours in the <a href="https://discord.gg/h2sR45Nby8">Community Discord</a>, every <b>Tuesday at 12pm EST</b>. Everyone's invited and I hope you can join us</li>
  </ul>

  <hr/>


  <p>
    <span class="badge info">New Explore Spaces</span>
  </p>

  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
  <p>
    <img class="tiny-image" src="https://help.kinopio.club/assets/about/signature.png">
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
