<header>
<img src="https://kinopio-email.us-east-1.linodeobjects.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking
      tool for new ideas and hard problems
    </span>
    <!-- span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, helping you
      express yourself and turn ideas into understanding
    </span>
    -->
  </p>
</p>
</header>

<main>

<p>Hi friends, </p>

<p>Icy chill has graduated to mere wind and rain, which means it's probably spring, which means it's time for spring cleaning. </p>

<p>Starting a couple weeks ago, I paused making big new features in favor of fixing bugs and polishing details. There's lots of ambitious new interactions to come in the farther future – but holistically speaking, Kinopio is a feature-packed tool with everything you need for working through ideas in creative and expressive ways.</p>

<p>We've got the communnity fabric, it's tightly knit and full of good feels. The technical foundation is solid and reliable. All that's left is to stitch all the pieces together.</p>

<p><img src="https://kinopio-blog.us-east-1.linodeobjects.com/shoes-fabric.jpg" class="wide"></p>

<h2>What's New</h2>
<p>
<img src="https://kinopio-blog.us-east-1.linodeobjects.com/card-urls-hidden-by-default.gif" class="small-image">
</p>

<ul>
<li><a href="/posts/card-urls-hidden-by-default/">Card URLs Hidden by Default</a>. When you paste into cards, URLs are now be hidden by default so that just the preview info displays</li>
<li><a href="/posts/search-all-spaces/">Search All Spaces</a>. Forgot which space you put an idea in? Search all spaces for your cards</li>
<li><a href="/posts/transparent-color-slider/">Transparent Color Slider</a>. More creative controls to get your cards looking <em>just</em> right</li>
<li><a href="/posts/notifications-v2/">♥ Notifications</a>. Redesigned notifications will let you know when someone likes your spaces and follows you</li>
<li>Also, in case you missed it, we've started holding office hours in the <a href="https://discord.gg/h2sR45Nby8">Community Discord</a>, every <strong>Tuesday at 12pm EST</strong>. Everyone's invited and I hope you can join us</li>
</ul>

<hr />

<p>Because of the focus on polish and fixes, I thought you might be interested in details. It's a lot though, so feel free to skip it.</p>

<h2>Improvements</h2>

<ul>
<li>Increased the window size of the Firefox, Chrome, and Safari browser extensions for easier text entry</li>
<li>Simplified the export and import dialogs for downloading space JSON files</li>
<li>Reduced the amount of list re-shuffling that happens on your spaces list after it's loaded, to prevent misclicks</li>
<li>Increased the speed of creating a new journal space when weather is active</li>
<li>Increased the speed of opening your spaces list (especially noticeable on mobile and if you have a lot of spaces)</li>
<li>Clearer UI for adding background tint color</li>
<li>For improved performance while dragging items, connection line animations and video playback pauses</li>
</ul>

<h2>Fixes</h2>

<ul>
<li>Fixed a bug that was causing cards to render thin and narrow</li>
<li>Fixed a bug that would reset the size of image cards when you tried to lock them</li>
<li>Enter and shift-enter now correctly create new cards/child-cards even in cards created by dragging from a connector</li>
<li>Long space names no longer push right side header buttons offscreen on mobile</li>
<li>When you pinch zoom out and then click a user in header, it's now always visible</li>
<li>After dragging a card by it's link button, the link will no longer open</li>
<li>Paint selecting cards and clicking Style → Box now adds the surrounding box in the right position. As a bonus, this feature now supports surrounding both cards and boxes with a new box</li>
<li>Fixed an issue where some cards couldn't be paint selected</li>
<li>Fixed an issue where dark mode would incorrectly toggle on/off if system theme detection was enabled</li>
</ul>

<h2>New Explore Spaces</h2>

  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
  <p>
    <img class="tiny-image" src="https://help.kinopio.club/assets/about/signature.png">
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
