<header>
<img src="https://kinopio-email.us-east-1.linodeobjects.com/logo-base.png" width="50"/>
<p>
  <div class="badge info">{{subject}}</div>
  <p>
    <span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking
      tool for new ideas and hard problems
    </span>
    <!-- span class="badge secondary">
      This bulletin is a monthly~ correspondence from the
      creator of <a href="https://kinopio.club">Kinopio</a>, helping you
      express yourself and turn ideas into understanding
    </span>
    -->
  </p>
</p>
</header>

<main>

<p>Hi friends,</p>

<p>While I was in Bali <a href="https://blog.kinopio.club/posts/30/">last month</a>, I had lunch with <a href="https://lucas.love">Lucas</a> and asked if he'd be interested in making a Kinopio iOS app. Over the last month we've been making steady progress on the app, which you can <a href="https://testflight.apple.com/join/VoN2TmsM">preview here</a>.</p>

<blockquote>
<p>Because of the way Kinopio has been designed, most of the work to improve mobile will also benefit Android users too.</p>
</blockquote>
<p>
<img src="https://kinopio-blog.us-east-1.linodeobjects.com/dog-pixel.jpg" class="">
</p>

<p>Anyways, the next bulletin will probably announce the official release – alongside a ProductHunt launch to help spread the good word to everyone else.</p>

<p>See you then ~</p>

<h2>What's New</h2>

<p>My personal favorite update this month is the ability to <a href="https://blog.kinopio.club/posts/embed-any-site/">Embed Any Site</a>, like Spotify, Bandcamp, or code Gists. Just paste the URLs and if there's a media player or something fancy for it, you'll be able to use it inline.</p>

<p><img src="https://d2w9rnfcy7mm78.cloudfront.net/22448154/original_63c3f6c9f7ee780f03f71d0930b09671.gif" class=""></p>

<p>Music sharing spaces like <a href="https://kinopio.club/music-oQsuQgA4RqvmljMXOxLX4">Music</a> by bernat really come alive when you can listen to albums from cards.</p>

<p>Related Pro-Tip: You can make some cool looking embeds by customizing card colors</p>

<p><img src="https://kinopio-blog.us-east-1.linodeobjects.com/embed-any-site-thumbnail.png" class=""></p>

<p>Also new,</p>

<p><a href="https://blog.kinopio.club/posts/journal-prompt-of-the-day/">Journal Prompt of the Day</a> generates a new journaling prompt each day.</p>

<p><img src="https://d2w9rnfcy7mm78.cloudfront.net/22220930/original_97b04d1a84943dfc4a7a89c46778a6f8.gif" class=""></p>

<p><a href="https://blog.kinopio.club/posts/card-counters/">Card Counters</a> let your collaborators vote on ideas.</p>

<p><a href="https://blog.kinopio.club/posts/public-presence-painting/">Public Presence and Painting</a> broadcasts spectator cursor position and paint strokes out to everyone viewing the space.</p>

<p><img src="https://us-east-1.linodeobjects.com/kinopio-uploads/8-LDDl-duGfgku3bhvFuQ/balcony-smoking-2x.gif" class=""></p>

<p>I also wrote a new blog post: <a href="https://pketh.org/dream-of-being-understood.html">A Tool for Those Who Dream of Being Understood</a>.</p>

<h2>Improvements</h2>

<ul>
<li>CMD/CTRL-K to jump to spaces now <a href="https://club.kinopio.club/t/remember-last-ctrl-k-search-for-spaces/1119">remembers your recent search</a></li>
<li>Improved the layouts of the header and footer, as well as connection, card, and box dialogs</li>
<li>Added a little settings shortcut button to the footer, helpful for quick toggling controls settings</li>
</ul>

<h2>Fixes</h2>

<ul>
<li>Fixed an issue where double-clicking on the card resize handler wasn't resetting card size</li>
<li>If you paste in a URL with no URL preview information, then the card will show the full URL instead of hiding it</li>
<li>Broken preview images for Instagram URLs can update themselves</li>
<li>The weekly review emails that weren't being sending for the last couple weeks should now correctly arrive on Sunday</li>
</ul>

<h2>Mobile Fixes</h2>

<ul>
<li>Tapping to create a new card will focus on the input so you can immediately type it</li>
<li>Tapping to create a new card no longer jumps the zoom of the space out</li>
<li>Creating a new card while zoomed very far out or far in will no longer display a weirdly sized card editing dialog</li>
</ul>
</body>


<h2>New Explore Spaces</h2>

  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
  <p>
    <img class="tiny-image" src="https://help.kinopio.club/assets/about/signature.png">
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>
