<header>
  <img src="https://kinopio-email.s3.us-east-1.amazonaws.com/logo-base.png" width="50"/>
  <p>
    <div class="badge info">
      {{subject}}
    </div>
    <p>
      <span class="badge secondary">
        This bulletin is a biweekly correspondence from the creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking tool for new ideas and hard problems
      </span>
    </p>
  </p>
</header>

<main>
  <!-- 🛶 intro personal message: song listening to, movies, weather, view from my window, animal sightings -->

  <p>I got engaged to this cool weirdo (send help)</p>
  <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/D9us9Cx7bGPQZ4Nsm5RSz/engaged.jpeg">
  </p>

  <p>
    <span class="badge info">What's New</span>
  </p>
  <!-- 🛶 -->
  <p>
    The last two weeks were focused on bug fixes and reliability. It's not dramatic, and maybe only I really notice, but when the system is well oiled and all the little details work just as they should, everything just ~feels~ better.
  </p>

  <p>
    <span class="badge info">Upcoming</span>
  </p>
    <!-- 🛶 -->
  <p>
    The next big thing I want to focus on is making Kinopio super great on mobile. Before that, I've still got a blog post to write.
  </p>

  <p>
    <span class="badge info">New Explore Spaces</span>
  </p>
  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <!-- TODO show updated favorite spaces, limit 20 -->

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>

<!-- 🛶 update text version -->
