<header>
  <img src="https://kinopio-email.s3.us-east-1.amazonaws.com/logo-base.png" width="50"/>
  <p>
    <div class="badge info">
      {{subject}}
    </div>
    <p>
      <span class="badge secondary">
        This bulletin is a biweekly correspondence from the creator of <a href="https://kinopio.club">Kinopio</a>, the visual thinking tool for new ideas and hard problems
      </span>
    </p>
  </p>
</header>

<main>

  <!-- 🛶 intro personal message: song listening to, movies, weather, view from my window, animal sightings -->
  <p>
    Have you ever heard of the <a href="https://moreaedesign.wordpress.com/2010/09/14/more-about-nakagin-capsule-tower/">Nakagin Capsule Tower</a>?
  </p>
  <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/yTIvU8ey_0XfEXhLSwFxu/image.jpeg"/>
  </p>
  <p>
    It's boxy capsules can be removed and replaced with new ones. Kind of like a USB hub. Imagine building and plugging-in your own custom home or office. Maybe upgrading them and moving them into another building later. Pretty futuristic today – even more so when it was built in ’72.
  </p>
  <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/sKwvWMSaqO-pq_Q53Iv-F/image.jpeg"/>
  </p>
  <p>
    Except… that because of an engineering flaw, the process for taking out a unit requires taking out all units below it. Asking all your downstairs neighbours to be cool with swinging from a crane while you plugged in your new kitchen was probably a bit awk.
  </p>

  <p>
    It’s still a cool idea though. I wonder how different the world would look today if they didn’t mess it up?
  </p>

  <p>
    <span class="badge info">What's New</span>
  </p>
  <!-- 🛶 -->
  <p>
    The big update is that everything touch and swipe related was reworked to make Kinopio mobile feel pretty great.
  </p>
  <p>
    <img src="https://us-east-1.linodeobjects.com/kinopio-uploads/tqD9HId-AxK3nu95NEXrV/mobile-vid.jpeg"/>
  </p>

  <p>
    (I shot a <a href="https://twitter.com/KinopioClub/status/1395369645549494272">little video</a> of me using it in the Detroit river)
  </p>
  <p>
    Also, I haven’t promoted this yet, but as you scroll or swipe around, you’ll see little moon-shaped markers at the edges of your screen. These little helpers give you a passive sense of the cards around you.
  </p>
  <p>
    <span class="badge info">Upcoming</span>
  </p>
    <!-- 🛶 -->
  <p>
    As I’ve been collaborating in spaces with people and teams, I’ve built up a little list of ways to improve the experience.
  </p>
  <p>
    Also I have some ideas for a history feature that’ll make it easy to find out “what’s new in this space?”.
  </p>

  <p>
    <span class="badge info">New Explore Spaces</span>
  </p>
  {{#each newExploreSpaces}}
    <p class="space-wrap">
      <a href="{{../../host}}/{{space.id}}">
        <span class="user badge button-badge" style="background:{{user.color}}">
          <img class="user-avatar" src="https://kinopio-email.us-east-1.linodeobjects.com/anon-avatar.png" />
          {{ user.name }}
        </span>
        <span class="space-name">
          {{ space.name }}
        </span>
      </a>
    </p>
  {{/each}}

  <!-- TODO show updated favorite spaces, limit 20 -->

  <p>
    <!-- Okay that's enough of that, -->
    (*・_・)ノ⌒*
  </p>

  <!-- 🛶 -->
  <p>
    Your bulletin pal,
  </p>
  <p>
    – Pirijan, Kinopio Creator
  </p>
</main>

<footer>
  <p>You've received this email because you signed up for <a href="https://kinopio.club">Kinopio</a>.</p>
  <p>Questions? Just reply to this email :)</p>
  <p><a href="https://github.com/kinopio-club/kinopio-meta/tree/master/bulletins">Bulletin Archives</a></p>
  <p><a href="{{unsubscribeUrl}}">Unsubscribe</a></p>
</footer>

<!-- 🛶 update text version -->
